@button-height: 47px;
@button-font-size: 18px;

@button-height-small: 30px;
@button-font-size-small: 13px;

@button-default-color: #000;
@button-default-fill: #fff;

@button-primary-color: #fff;
@button-primary-fill: @brand-primary;

@button-success-color: #fff;
@button-success-fill: @brand-success;

@button-info-color: #fff;
@button-info-fill: @brand-info;

@button-warning-color: #fff;
@button-warning-fill: @brand-warning;

@button-danger-color: #fff;
@button-danger-fill: @brand-danger;

@btn-ghost-color: @brand-primary;
@btn-ghost-fill: #fff;