@import "button-variable";

@btnPrefixCls: ~"@{css-prefix}btn";

.@{btnPrefixCls} {
  display: inline-block;
  outline: 0;
  appearance: none;
  box-sizing: border-box;
  padding: 0 15 * @rpx;
  text-align: center;
  vertical-align: middle;
  user-select: none;

  // size
  .button-size(@button-height, @button-font-size);

  // text
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;

  // style
  color: @button-default-color;
  background-color: @button-default-fill;
  border: 1 * @rpx solid @button-default-border-color;

  &:active,
  &&-active {
    background-color: darken(#fff, 10%);
  }

  &&-disabled,
  &[disabled] {
    color: fade(#000, 30%);
    opacity: 0.6;
  }

  // Alternate buttons
  &-default {
    .button-variant(@button-default-color, @button-default-fill, @button-default-border-color);
  }

  &-primary {
    .button-variant(@button-primary-color, @button-primary-fill, @button-primary-border-color);
  }

  // Success appears as green
  &-success {
    .button-variant(@button-success-color, @button-success-fill, @button-success-border-color);
  }

  // Warning appears as orange
  &-warning {
    .button-variant(@button-warning-color, @button-warning-fill, @button-warning-border-color);
  }

  // Danger and error appear as red
  &-danger {
    .button-variant(@button-danger-color, @button-danger-fill, @button-danger-border-color);
  }

  &-ghost {
    color: @btn-ghost-color;
    background-color: @btn-ghost-fill;
    border-color: @btn-ghost-border-color;

    &:active,
    &.@{btnPrefixCls}-active {
      color: fade(@btn-ghost-color, 70%);
      background-color: @btn-ghost-fill;
      border-color: fade(@btn-ghost-border-color, 70%);
    }
    &.@{btnPrefixCls}-disabled,
    &[disabled] {
      color: fade(#000, 20%);
      background-color: @btn-ghost-fill;
      border-color: fade(#000, 10%);
      opacity: 1;
    }
  }

  // Button Sizes
  // --------------------------------------------------

  &-small {
    // line-height: ensure proper height of button next to small input
    .button-size(@button-height-small, @button-font-size-small);
  }

  // Block button
  // --------------------------------------------------

  &-block {
    display: block;
    padding: 0;
    // Vertically space out multiple block buttons
    & + & {
      margin-top: 10 * @rpx;
    }
  }

  // Button Radius
  &-radius {
    border-radius: 5 * @rpx;
  }

  // Icon
  & > [class*=-iconfont] {
    position: relative;
    top: 50%;
    display: inline-block;
    margin-right: 5 * @rpx;
    line-height: 1;
    font-size: 24 * @rpx;
    vertical-align: top;
    transform: translateY(-50%);
  }
}
