@import "rate-variable";

@ratePrefixCls: ~"@{css-prefix}rate";

.@{ratePrefixCls} {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  color: #e8e8e8;
  box-sizing: border-box;
  &-item {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    color: inherit;
    cursor: pointer;
    transition: all .3s;

    &:not(:last-of-type) {
      margin-right: 5px;
    }

    .@{ratePrefixCls}-inner {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      .encoded-svg-background('rate_inner');
      background-size: 100%;
      background-repeat: no-repeat;
      overflow: hidden;
    }

    .@{ratePrefixCls}-outer {
      position: absolute;
      left: 0;
      top: 0;
      display: none;
      width: 100%;
      height: 100%;
      .encoded-svg-background('rate_outer');
      background-size: 24px;
      background-repeat: no-repeat;
      overflow: hidden;
    }

    &.@{ratePrefixCls}-active {
      .@{ratePrefixCls}-outer {
        display: block;
      }
    }
  }
}