@import "header-variable";

@headerPrefixCls: ~"@{css-prefix}header";

.@{headerPrefixCls} {
  position: relative;
  background-color: @header-fill;
  height: @header-height;
  line-height: @header-height;
  padding: @header-padding;
  color: @header-color;
  font-size: @header-font-size;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  z-index: @header-zindex;
  &-title {
    .ellipsis();
    font-size: @header-title-font-size;
    flex: 1;
    height: inherit;
  }
  &-right,
  &-left {
    position: relative;
    flex: .5;
    height: inherit;
    display: flex;
    align-items: center;
  }
  &-left {
    .left-arrow {
      display: block;
      padding-right: @header-left-arrow-padding-right;
      &:after {
        content: " ";
        .setArrow(left, @header-left-arrow-size, @header-left-arrow-color, @header-left-arrow-width);
        position: relative;
        top: 0;
        left: @header-left-arrow-width;
      }
    }
  }
  &-right {
    justify-content: flex-end;
  }
  &-btn {
    position: relative;
    display: block;
    text-align: center;
    color: inherit;
    font-size: @header-font-size;
    min-width: @header-btn-width;
    .@{css-prefix}iconfont {
      line-height: 1;
      display: inline-block;
      font-size: @header-iconfont-font-size;
      vertical-align: middle;
    }
    .@{css-prefix}iconfont + .@{headerPrefixCls}-btn-text {
      margin-left: 2px;
    }
    & + & {
      padding-left: @header-btn-padding-left;
    }
  }
  /* 图表 文字 垂直 Vertical*/
  &-vertical {
    line-height: 1.2;
    padding-top: 0;
    padding-bottom: 0;
    .@{css-prefix}iconfont {
      display: block;
      font-size: @header-vertical-iconfont-font-size;
    }
    .@{css-prefix}iconfont + .@{headerPrefixCls}-btn-text {
      margin-left: 0;
      font-size: @header-vertical-text-font-size;
    }
  }
  /* 图表 文字 水平 Horizontal*/
  &-horizontal {
    .@{css-prefix}iconfont {
      font-size: @header-horizontal-iconfont-font-size;
    }
  }
  a {
    &:hover,
    &:active {
      color: @header-color;
    }
  }
}