//Header
@header-height: 45px;
@header-fill: @brand-primary;
@header-padding: 0px 10px;
@header-color: #fff;
@header-font-size: 14px;

@header-title-font-size: 16px;
@header-iconfont-font-size: 24px;

@header-vertical-iconfont-font-size: 18px;
@header-vertical-text-font-size: 12px;

@header-horizontal-iconfont-font-size: 20px;

@header-btn-width: 30px;
@header-btn-padding-left: 5px;

@header-left-arrow-padding-right: 5px;
@header-left-arrow-size: 10px;
@header-left-arrow-color: #fff;
@header-left-arrow-width: 2px;

@header-zindex: @zindex-header;
