@import "header-variable";

@headerPrefixCls: ~"@{css-prefix}header";

.@{headerPrefixCls} {
  position: relative;
  display: flex;
  height: @header-height;
  padding: 0 @header-h-spacing;
  font-size: @header-font-size;
  line-height: @header-height;
  text-align: center;
  background-color: @header-fill;
  color: @header-color;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: @header-zindex;
  &-title {
    flex: 1;
    height: inherit;
    font-size: @header-title-font-size;
    .ellipsis();
  }
  &-right,
  &-left {
    position: relative;
    flex: .5;
    height: inherit;
    display: flex;
    align-items: center;
  }
  &-left {
    justify-content: flex-start;
    .left-arrow {
      display: block;
      padding-right: @header-left-arrow-v-spacing;
      &:after {
        content: " ";
        .setArrow(left, @header-left-arrow-size, @header-left-arrow-color, @header-left-arrow-width);
        position: relative;
        top: 0;
        left: @header-left-arrow-width;
      }
    }
  }
  &-right {
    justify-content: flex-end;
  }
  &-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    min-width: @header-btn-width;
    font-size: @header-btn-font-size;
    line-height: 1.5;
    text-align: center;
    color: inherit;
    .@{css-prefix}iconfont {
      display: block;
      line-height: 1;
      font-size: @header-btn-icon-font-size;
      &:only-child {
        font-size: @header-btn-icon-font-size-only;
      }
    }
    .@{headerPrefixCls}-btn-text {
      display: block;
      line-height: 1;
      font-size: @header-btn-text-font-size;
      &:only-child {
        font-size: @header-btn-text-font-size-only;
      }
    }
    .@{css-prefix}iconfont + .@{headerPrefixCls}-btn-text {
      margin-top: @header-btn-text-v-spacing;
    }
    & + & {
      padding-left: @header-btn-h-spacing;
    }
  }
  /* 图表 文字 垂直 Vertical*/
  &-vertical {
  }
  /* 图表 文字 水平 Horizontal*/
  &-horizontal {
    flex-direction: row;
    .@{css-prefix}iconfont {
      font-size: @header-btn-horizontal-icon-font-size;
    }
    .@{css-prefix}iconfont + .@{headerPrefixCls}-btn-text {
      margin-top: 0;
      margin-left: 0;
      font-size: @header-btn-horizontal-text-font-size;
    }
  }
  a {
    &:hover,
    &:active {
      color: @header-color;
    }
  }
}