@import "cell-variable";

@cellPrefixCls: ~"@{css-prefix}cell";

.@{cellPrefixCls}-access {
  .setTapColor();
  color: inherit;
  &:active {
    background-color: #ECECEC;
  }
  .@{cellPrefixCls}-ft {
    padding-right: 20px;
    position: relative;
    &:after {
      content: " ";
      .setArrow(right, 10px, #C7C7CC, 2PX);
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: 5px;
    }
  }
}

.@{cellPrefixCls}-link {
  color: inherit;
  font-size: 0.7rem;
  &:first-child {
    &:before {
      display: block;
    }
  }
}



