@footbar-fill: #fff;
@footbar-height: 50 * @rpx;
@footbar-zindex: @zindex-tabbar;

@footbar-tabbar-width: 56 * @rpx;
@footbar-tabbar-color: #666;

@footbar-btn-width-sm: 104 * @rpx;
@footbar-btn-height: @footbar-height;
@footbar-btn-font-size: 16 * @rpx;
@footbar-btn-h-spacing: 15 * @rpx;

@footbar-info-text-align: left;
@footbar-info-h-spacing: 5 * @rpx;
@footbar-info-color: #999;
@footbar-info-font-size: 12 * @rpx;
@footbar-info-total-color: #333;
@footbar-info-total-font-size: 14 * @rpx;

@footbar-checkbox-h-spacing: 10 * @rpx;
@footbar-checkbox-font-size-v: 12 * @rpx;

