@import "popup-variable";

@popupPrefixCli: ~"@{css-prefix}popup";

.@{popupPrefixCli} {
  &-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }
}