@import "popup-variable";

@popupPrefixCli: ~"@{css-prefix}popup";

.@{popupPrefixCli} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  pointer-events: none;
  z-index: 1001;

  & .@{css-prefix}overlay {
    position: absolute;
    pointer-events: auto;
    z-index: 1;
  }

  & &-wrapper {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
    z-index: 2;
  }

  &&-center {
    align-items: center;
    justify-content: center;
  }

  &&-top {
    align-items: flex-start;

    .@{popupPrefixCli}-wrapper {
      width: 100%;
    }
  }

  &&-right {
    justify-content: flex-end;

    .@{popupPrefixCli}-wrapper {
      height: 100%;
    }
  }

  &&-bottom {
    align-items: flex-end;

    .@{popupPrefixCli}-wrapper {
      width: 100%;
    }
  }

  &&-left {
    justify-content: flex-start;

    .@{popupPrefixCli}-wrapper {
      height: 100%;
    }
  }

  &&-slide {
    &-top {
      &-enter-active {
        animation: slideInDown @animation-duration-base both ease;
      }

      &-leave-active {
        animation: slideOutUp @animation-duration-base both ease;
      }
    }

    &-bottom {
      &-enter-active {
        animation: slideInUp @animation-duration-base both ease;
      }

      &-leave-active {
        animation: slideOutDown @animation-duration-base both ease;
      }
    }

    &-left {
      &-enter-active {
        animation: slideInLeft @animation-duration-base both ease;
      }

      &-leave-active {
        animation: slideOutLeft @animation-duration-base both ease;
      }
    }

    &-right {
      &-enter-active {
        animation: slideInRight @animation-duration-base both ease;
      }

      &-leave-active {
        animation: slideOutRight @animation-duration-base both ease;
      }
    }
  }

  &&-fade {
    &-enter-active {
      animation: fadeIn @animation-duration-base;
    }

    &-leave-active {
      animation: fadeOut @animation-duration-base;
    }
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
