@import "tabbar-variable";

@tabbarPrefixCls: ~"@{css-prefix}tabbar";

.@{tabbarPrefixCls} {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: @tabbar-height;
  background-color: @tabbar-fill;
  z-index: @tabbar-zindex;
  .hairline('top');

  &-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    color: @tabbar-item-color;
    text-align: center;
    &.is-selected {
      color: @tabbar-item-color-select;
    }
  }
  &-icon {
    position: relative;
    display: block;
    color: inherit;
    .@{css-prefix}iconfont {
      display: inline-block;
      font-size: @tabbar-item-icon-font-size;
      line-height: 1;
      vertical-align: middle;
    }
    &.@{css-prefix}badge {
      display: block;
      :last-child {
        margin-top: @tabbar-item-badge-v-spacing;
        left: @tabbar-item-icon-font-size;
      }
    }
    &:only-child {
      .@{css-prefix}iconfont {
        font-size: @tabbar-item-icon-font-size-only;
      }
      &.@{css-prefix}badge {
        :last-child {
          left: @tabbar-item-badge-h-spacing-only;
        }
      }
    }
  }
  &-label {
    display: block;
    margin-top: @tabbar-item-label-v-spacing;
    font-size: @tabbar-item-label-font-size;
    line-height: 1;
    text-align: center;
    &:only-child {
      margin-top: 0;
      font-size: @tabbar-item-label-font-size-only;
    }
  }
}